.homepage {
  height: 100svh;

  background-color: #0e1012;
  font-family: "Manrope", sans-serif;
}

.homepage section {
  margin-top: 10rem;
  max-width: 100%;

  padding: 0 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: #fff;
  text-align: center;
}

.homepage h1 {
  font-size: clamp(4rem, 5vw, 6.8rem);
  line-height: 100%;
  margin-bottom: 2.4rem;
  z-index: 2;
}

.homepage h2 {
  margin-bottom: 4rem;

  z-index: 1;
  font-size: 2.7rem;
  color: #a0aaba;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.4px;
  padding: 0 1rem;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.imgContainer {
  box-shadow: 0 0 30px 3px rgb(137, 137, 137);
}

.img {
  width: 25%;
  height: 36%;

  position: absolute;
  bottom: 49%;
  left: 8%;

  z-index: 0;
  filter: grayscale(65%);
  border-radius: 1rem;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@media (max-width: 35em) {
  .homepage section {
    padding: 2.5rem 0;
  }

  .homepage h1 {
    text-align: start;
    padding: 0 1rem;
    font-size: 3.5rem;
    line-height: 3.6rem;
  }

  .homepage h2 {
    font-size: 1.8rem;
    font-weight: 800;

    letter-spacing: 0.2px;
    padding: 0 0.8rem;

    line-height: 2rem;
  }

  .imgContainer {
    display: none;
  }
}
